[submodule "partner-configs"]
	path = partner-configs
	url = git@gitlab.emddi.xyz:emddi-software/emddi-customer-partner-configs.git
[submodule "emddi-v2"]
	path = emddi-v2
	url = git@gitlab.emddi.xyz:emddi-software/emddi-customer-v2.git
[submodule "emddi-v2-ios"]
	path = emddi-v2-ios
	url = git@gitlab.emddi.xyz:emddi-software/emddi-customer-v2.git
[submodule "emddi-v2-android"]
	path = emddi-v2-android
	url = git@gitlab.emddi.xyz:emddi-software/emddi-customer-v2.git
