# Node
node_modules/

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Temp files
*.tmp
*.swp

# Secrets - NEVER commit these files
*.p8
*.jks
*-key-fastlane-upload-*.json

emddi-v2/
emddi-v2-ios/
emddi-v2-android/
partner-configs/